body{
	background-image: url("background.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Lato", sans-serif;
}

.whitebar{
	z-index: 1;
	position: fixed;
	background-color: white;
	height: 70px;
	width :100% ;
	left: 0;
	top:0;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
}

.sidebar{
	margin-top: 70px;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0; 
	left: 0;
	/*background: rgba(153, 205, 200, 0.9);*/
	background: rgba(170, 231, 223, 0.9) ;
	box-shadow: 10px 1px 3px rgba(0, 0, 0, 0.3);
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.content{
	margin-top: 90px;
	transition: 0.5s;
}

.isi{
	margin-left: 10%;
	margin-top: 10%;
	width: 75%;
	padding: 30px;
	word-wrap: break-word;
	background: rgba(131, 167, 163, 0.6) ;
	box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.3);
}

.sidebar .menuSidebar{
	display:block;
	padding-left: 10px;
	font-size: 30px;
	text-decoration: none;
	color: black;
	padding-bottom: 10px; 
	padding-top: 10px; 
}

.sidebar .menuSidebar:hover{
	background-color: rgba(133, 181, 174, 0.9);
}

.sidebar .closebutton:hover{
	color:gray;
}

.sidebar .closebutton{
	position: absolute;
	top:0;
	right: 10px;
	display:block;
	padding-left: 10px;
	font-size: 30px;
	text-decoration: none;
	color: black;
}

.tombolBuka{
	height: 70px;
	width: 70px;
}

.tombolMenuSidebar{
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.logo {
	width: 120px;
	height: 44px;
	margin-left: 20px;
	margin-bottom: 10px;
}

/*tampilan dalam hp*/
@media screen and (max-width: 500px) {
	.whitebar{
		height: 50px;
	}
	.sidebar{
		margin-top: 50px;
	}
	.sidebar .menuSidebar{
		font-size: 20px;
		padding-bottom: 5px; 
		padding-top: 5px;
	}
	.content{
		
	}
	.isi{
		width: 65%;
	}
	.sidebar .closebutton{
		font-size: 20px;
	}
	.tombolBuka{
		height: 50px;
		width: 50px;
	}

	.logo {
		width: 60px;
		height: 20px;
		margin-left: 10px;
		margin-bottom: 15px;
	}

	.tombolMenuSidebar{
		height: 20px;
		width: 20px;
	}
}

/*tampilan desktop*/
/*@media screen and (min-width: 501px) {
	.whitebar{
		position: fixed;
		background-color: white;
		height: 70px;
		width :100% ;
		left: 0;
		top:0;
		box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
	}
	.sidenav{
		margin-top: 70px;
		height: 100%;
		width: 250px;
		position: fixed;
		top: 0; 
		left: 0;
		/*background: rgba(153, 205, 200, 0.9);
		background: rgba(170, 231, 223, 0.9) ;
		box-shadow: 10px 1px 3px rgba(0, 0, 0, 0.3);
		overflow-x: hidden;
		padding-top: 60px;
	}
	.content{
		margin-top: 90px;
		margin-left: 250px;
	}
	.openbutton{
		display: none;
	}
	.isi{
		margin-left: 20%;
		margin-top: 10%;
		width: 55%;
		padding: 30px;
		word-wrap: break-word;
		background: rgba(131, 167, 163, 0.6) ;
		box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.3);
	}
	.sidebar a{
		display:block;
		padding-left: 10px;
		font-size: 20px;
		text-decoration: none;
		color: black;
	}
	.sidebar a:hover{
		color:gray;
	}
	.sidebar .closebutton{
		display: none;
	}
}*/


